---
layout: layout.liquid
title: Product json
---


<div x-data="{ brandName: null }" x-init="() => {
    fetch('https://dummyjson.com/products/1')
        .then(response => response.json())
        .then(data => brandName = data.brand)
}">
    <h1 x-text="brandName" />
</div>
<section class="fullInfo">
<div class="prodInfo">

<div x-data="{ model: null }" x-init="() => {
    fetch('https://dummyjson.com/products/1')
        .then(response => response.json())
        .then(data => model = data.title)
}">
    <h2 x-text="model" />
</div>
<div x-data="{ price: null }" x-init="() => {
    fetch('https://dummyjson.com/products/1')
        .then(response => price.json())
        .then(data => price = data.price)
}">
    <h2 x-text="price"/>
</div>
<div x-data="{ descrip: null }" x-init="() => {
    fetch('https://dummyjson.com/products/1')
        .then(response => response.json())
        .then(data => descrip = data.description)
}">
    <p x-text="descrip" />
</div>

</div>


<div id="thumbnail"></div>
</section>
<script>
    function displayHTML(string) {
        const mainImage = document.getElementById('thumbnail');
        mainImage.innerHTML = `<img alt="test" src="${string}" />`;
    }
    fetch('https://dummyjson.com/products/1')
    .then(res => res.json())
    .then(json => displayHTML(json.thumbnail))
</script>
